.Menu {
  background-image: linear-gradient(
    to right top,
    #b40000,
    #ca3929,
    #de5c4c,
    #ef7c70,
    #fe9c93
  );
}

.Menu .primary-text {
  padding-top: 5%;
  color: white;
  font-size: 75px;
  font-weight: bolder;
  text-align: center;
}

.Menu .secondary-text {
  padding-bottom: 3%;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
